h3 Colormeans.js

p #[i It started with wanting to do something visual and useful. ] #[br]#[br]
	| For my colour palette needs I usually frequent #[a(href="http://www.colourlovers.com") colourlovers.com], 
	| but I wanted to a way to choose a palette based on a feeling, not user ratings. #[br]#[br]
	| I started looking around if there's a tool for this, and there #[a(href="http://www.colourthief.com") is], but it's kind of slow 
	| and I was looking for something to do at my spare time and my newfound hunger for Javascript. I started looking around for any algorithms that could
	| do what I wanted and I stumbled upon the data clustering algorithm k-means.
	| I started looking around if there's a tool for this, and there #[a(href="http://www.colourthief.com") is], but it's kind of slow 
	| and I was looking for something to do at my spare time and my newfound hunger for Javascript. I started looking around for any algorithms that could
	| do what I wanted and I stumbled upon the data clustering algorithm k-means.
	| I started looking around if there's a tool for this, and there #[a(href="http://www.colourthief.com") is], but it's kind of slow 
	| and I was looking for something to do at my spare time and my newfound hunger for Javascript. I started looking around for any algorithms that could
	| do what I wanted and I stumbled upon the data clustering algorithm k-means.
	| I started looking around if there's a tool for this, and there #[a(href="http://www.colourthief.com") is], but it's kind of slow 
	| and I was looking for something to do at my spare time and my newfound hunger for Javascript. I started looking around for any algorithms that could
	| do what I wanted and I stumbled upon the data clustering algorithm k-means.