doctype
html(class=".no-js")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='assets/css/main.min.css')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,400italic' rel='stylesheet' type='text/css')

    //-script(src='javascripts/vendor/modernizr-2.7.1.min.js')
  body
    <!--[if lt IE 8]>
    p.browsehappy 
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade your browser</a>
      | to improve your experience.
    <![endif]-->

    //- Add your site or application content here
    //- Image of self
    #stickymarker
    #wrapper(class="pageWrapper")
        div
          img(src="assets/img/Portfolioimage260x260.png" id="portrait" class="center")
          img(src="assets/img/Portfolioimageshadow260x260.png" id="portraitShadow")
        #headerwrapper
            .stickyHeaderWrapper 
                #stickyHeaderLeft.stickyHeader
                    nav(role="navigation")

                        a(title="Work") Work

            #logowrapper  
                img(src="assets/img/logowhitestroke.png" id="logo" class="center")
            div(class="stickyHeaderWrapper") 
                #stickyHeaderRight(class="stickyHeader")
                    nav(role="navigation")

                        a(title="Contact") Contact

        #description
            //-p#aboutTitle 
                | UI/UX Designer

            p#aboutText()
                | I'm a hybrid creative content branding buzzword user with mediocre expertise in user-design. 
                | I have a love/hate relationship with Javascript, we're trying ES6 and writing Node.js applications to sort our relationship out.
            #socialButton

        //-    p#seeMoreText 
                | See more!
        //-button#seeMore(onclick="scrollTo")

    #content.container
      .row
        .center-block.col-md-8(style="float:none")
          .grid.js-masonry
            .grid-item
              div.grid-header.row
                a(href="https://github.com/simonlovesyou/file-wipe")
                  h4 file-wipe
              div.grid-content.row
                p A npm module for wiping a file from the file system completely so that it cannot be retrieved later with file retrieval programs.
              div.grid-footer.row
                .col-md-6.col-xs-6
                  a(href="https://github.com/simonlovesyou/file-wipe") Github 
                .col-md-6.col-xs-6.npm 
                  a(href="https://www.npmjs.com/package/file-wipe").npm-text npm
            
            .grid-item
              div.grid-header.row
                a(href="https://chrome.google.com/webstore/detail/bättre-nyheter/mfbndbefnnjgaidnmnldlofidognjepl")
                  h4 Bättre Nyheter
              div.grid-content.row
                p Med den nya vågen av ny "journalistik" med clickbait och betalningsväggar för artiklar så är detta ett tappert försök att kombatera detta. Detta chrome-extension kan filtrera bort clickbait och "Prenumerations"-artiklar från större svenska nyhetssiter.

              div.grid-footer.row
                .col-md-6
                  .row.rainbow
                    .col-md-3.col-xs-3
                    .col-md-3.col-xs-3
                    .col-md-3.col-xs-3
                    .col-md-3.col-xs-3
                  .row
                    a(href="https://chrome.google.com/webstore/detail/bättre-nyheter/mfbndbefnnjgaidnmnldlofidognjepl") Chrome Web App
                .col-md-6 
                  a(href="https://www.npmjs.com/package/B-ttre-Nyheter") Github 

            .grid-item
              div.grid-header.row
                a(href="https://www.npmjs.com/package/Simon-Says")
                  h4 Simon Says
              div.grid-content.row
                p A filesystem management tool built with Node.js. Tell Simon Says to watch a folder and it will quietly in the background organize the contents for you based on the rules you give it. This is a WIP, please see the Github page to see the development progress.
              div.grid-footer.row
                .col-md-2.col-xs-2 
                  a(href="https://www.npmjs.com/package/Simon-Says") Github       
            
            .grid-item
              div.grid-header.row
                a(href="https://github.com/simonlovesyou/Colormeans")
                  h4 Colormeans
              div.grid-content.row
                p A library for retrieving a colorpalette from an image. The library is based on an improved version of the fast data-clustering algorithm k-means for use with images.
              div.grid-footer.row
                .col-md-2.col-xs-2 
                  a(href="https://www.npmjs.com/package/Colormeans") Github   
            .grid-item
              div.grid-header.row
                a(href="http://spotify-unify.github.io")
                  h4 Pilgrim
              div.grid-content.row
                p I participated in a Hackathon at the Spotify HQ in Stockholm where my group #[i Rainbow Apple] developed an app for discovering a city by their local artists.
              div.grid-footer.row
                .col-md-12.col-xs-12
                  a(href="http://spotify-unify.github.io") Presentation Website
            .grid-item
              div.grid-header.row
                a(href="http://www.simonsager.se")
                  h4 Portfolio
              div.grid-content.row
                p I made this portfolio website, the one you're looking at, open-source! Check it out!
              div.grid-footer.row
                .col-md-6.col-xs-12
                  a(href="https://github.com/simonlovesyou/portfolio") Github

    footer
      #footer-wrapper
        .row
          .col-md-12.col-xs-12
            h3 Contact
        .row
          .col-md-4.col-xs-4
            a(href="mailto:simonljohansson92@gmail.com") Mail
          .col-md-4.col-xs-4
            a(href="https://github.com/simonlovesyou") Github
          .col-md-4.col-xs-3
            a(href="https://twitter.com/simonjohansosn") Twitter






    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
    //-script(src='js/vendor/jquery-2.1.3.min.js')
    script(src='assets/js/index.min.js')

    //-script window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.11.0.min.js"><\/script>')
    //-script(src='javascripts/plugins.js')
    

    //- Google Analytics: change UA-XXXXX-X to be your site's ID.
    //-
      script
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');
