html(class=".no-js", ng-module="blogApp")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='assets/css/blog.min.css')
        link(href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,400italic' rel='stylesheet' type='text/css')
    //-script(src='javascripts/vendor/modernizr-2.7.1.min.js')
  
    body(ng-controller="NavContentCtrl")
        #navIndicator.sliding
        header.container
            #contentImage.circle

            nav
                ul
                    li(ng-repeat="nav in navList track by $index",
                       ng-click="navClicked($index)")
                        a(ng-click="navClicked($index)",
                          ng-class="{ 'activeLink': selectedNavIndex == $index }") {{nav}}
                
        #contentWrapper.container
            #content
                ul(ng-hide="hideContent")
                    li(ng-repeat="post in postContent track by $index"
                       ng-click="postClick(post)")
                        h2 {{post.header}}
                        h3 {{post.date}}
                article
                    h1 {{title}}
                    
                    p {{paragraph}}

    script(src='assets/js/vendor/jquery-2.1.3.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js')
    //-script window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.11.0.min.js"><\/script>')
    //-script(src='javascripts/plugins.js')
    script(src='assets/js/index.js')